body
{
    font-family:cursive;
    background-color:lightgoldenrodyellow;
}

h1
{
    background-color: green;
    color:lightgreen;
   margin-left: 100px;
   margin-right: 100px;
    text-align: center;
    border: 3px solid green;
    padding: 5px;


}
li
{
    margin-bottom: 5px;
}
h2
{
    text-align: left;
    color: green;
}
div
{
    margin: 30px;
    background-color: lightgreen;
    padding: 20px;
    border: solid green 3px;
}

span
{
    background-color:yellow;
    display: inline;
}

.box1
{
    position: static;
    background-color: lightgreen;
    width: 400px;
    height: 50px;
}
.box2
{
    position: relative;
    background-color: yellow;
    width: 400px;
    height: 50px;
    /*bottom: 50px;
    left: 450px;*/
}
.box3
{
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: turquoise;
    top:1000px;
    left: 500px;
}
.box4
{
    position: fixed;
    background-color: violet;
    /*top:0px;*/
    width: 400px;
    height: 50px;
    /*left: 0px;*/
}
.box5
{
    position: sticky;
    width: 400px;
    height: 50px;
    background-color: yellowgreen;
    /*left: 150px;*/

}
.layer1{
    position: relative;
    background-color: aquamarine;
    width: 500px;
    height: 70px;
    bottom: 0px;
    left: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.layer2{
    position: relative;
    background-color:blue;
    width: 500px;
    height: 70px;
    bottom: 80px;
    left: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

p.block
{
    background-color:lightseagreen;
    display: block;
}
p.inline
{
    background-color:lightseagreen;
    display:inline;
}
